.clr {
    clear:both;
}   
.bg1 {
    background-color: #3D7622;
}
.bg2 {
    background-color: #03E317;
}
.bg3 {
    background-color: #3E8567;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.new {
    float:left; 
    margin-left: .5%;
}
.col-2 {
    width: 49.75%;
    height: 100px;
    margin-top: 10px;
}
.col-3 {
    width: 33%;
    height: 100px;
    margin-top: 10px;
}
.col-4 {
    width: 24.62%;
    height: 100px;
    margin-top: 10px;
}
.col-5 {
    width: 19.6%;
    height: 100px;
    margin-top: 10px;
}
.col-6 {
    width: 16.25%;
    height: 100px;
    margin-top: 10px;
}
.col-7 {
    width: 13.85%;
    height: 100px;
    margin-top: 10px;
}
.col-8 { 
    width: 12.06%;
    height: 100px;
    margin-top: 10px;
}
.col-9 {
    width: 10.67%;
    height: 100px;
    margin-top: 10px;
}
.col-10 {
    width: 9.55%;
    height: 100px;
    margin-top: 10px;
}
.col-11 {
    width: 8.64%;
    height: 100px;
    margin-top: 10px;
}
.col-12 { 
    width: 7.88%;
    height: 100px;
    margin-top: 10px;
}